# 객체지향형 프로그래밍

* 차를 몰아 봅시다 
    - 차가 할 수 있어야 하는 일은?
        1. drive
        2. brake
        3. 방향 전환 
        4. 기어 전환 
        5. 주유
        * 이와 같은 것들은 기능(function)입니다 
    - 설계도가 있죠
        * 그 설계도를 우리는 프로그래밍에서 class라고 합니다 
        * 타입(Type)을 만든다 == 클래스를 만든다
        * 파이썬 빌트인 타입: int, str, bool, float, list, dict, set, tuple, .... 
        * ex
        ```Python
            a = 3
            print(type(a)) #-> <class 'int'>
        ```
        * int 클래스에서 구체적인 숫자 하나를 만들었죠 (a라는 변수에 저장했어요)
        * 저 a 를 우리가 뭐라고 하냐면 instance라고 합니다 
    - 르노코리아의 어떤 차의 설계도 -> 클래스
    - 도로에 있는 르노코리아 차 -> 인스턴스
* In Python 
    * 리스트를 하나 만들어요
    ```Python
        a = [1, 2, 3]
    ```
    * 이 리스트가 할 수 있는 일은 원소 추가, 원소 삭제, 원소 수정(변환), 인덱스 찾기, 마지막 원소 방출 등등등
    ```Python
        a.append(True)
    ```
    * 여기에서 a는 instance
    * a 뒤에 점 찍고 append 쓰는데 여기에서 괄호가 같이 쓰였어요 -> 함수
    * 근데 그냥 함수는 호출할 때 보통 앞에다 쓰고 뒤에 argument가 들어가요 
    ```Python
    def add_two_numbers(a, b): #-> 여기에서의 a, b는 parameter라고 불러요
        return a + b
    
    add_two_numbers(3, 7)  #-> 3, 7 은 argument
    ```
    * 이상하죠? 왜 함수를 뒤에다 씁니까 
    * 저런 함수는 아까 말했던 설계도에 들어가는 함수에요 -> 메소드(method)
    * append는 그래서 뭐다? -> 리스트 클래스에 있는 메소드다 
    ```Python
    class list:
        def __init__(self):
            # 무언가가 있겠지
            
        def append(self, value):
            # self 에다가 value를 추가하자 
            
        def insert(self, value, loc):
            # self 에다가 value를 추가하자 
            
        def remove(self, value, loc):
            # self 에다가 value를 추가하자 
            
        def __repr__(self):
            print('['+... +']')
            
    ```
    
    * 그렇다면 .value 이런건 언제 쓰는 것인가 
        * 게임 캐릭터를 하나 생성합니다 
        * 종족, 직업, 캐릭터 이름을 넣어 줘야 합니다 
        ```Python
        class Character:
            def __init__(self, nickname, occupation, race):
                self.name = nickname
                self.occupation = occupation
                self.race = race 
        ```
        
    * 근데 우리 RPG 게임에서 종족, 직업이 하나인 경우는 별로 없어요 
        - 근데 종족마다, 직업마다 기능이 달라야 해요 
        - 이걸 만약 구현을 하고 시프다 
        - 근데 캐릭터 클래스 하나에다가 마법사, 성기사, 전사, 사냥꾼 등등의 기능을 다 넣기가 참으로 쉽지 않다
        - 다른 사람이 코드를 보기에도 쉽지 않다 
        - **상속**이라는 개념이 나오게 됩니다 
        - 캐릭터 라는 클래스에서 마법사, 성기사, 전사, 사냥꾼 클래스를 따로 만들자 
        - 직업 상관 없이, 캐릭터라면 가능해야 하는 것들은 Character 클래스에 넣어 놓고
        - 직업 따라 달라야 하는 것들은 각 직업의 클래스 안에다가 넣어 놓자 
        - 그러면 유지보수도 쉽고 보기에도 쉽지 않을까?
        - base로 일단 만들어 놓고, 그 base에서 파생시키자 
        - Magician, HolyKnight, Fighter, Hunter 라는 클래스를 만든다고 했을 때
        - 이 클래스들의 근본은 Character다 
        - Character 클래스는 Magician 클래스의 부모 (Superclass)
        - Magician 클래스는 Character 클래스의 자식 (Subclass)
        ```Python
        class Character:
        '''
        Superclass Character
        '''
            def __init__(self, nickname, race):
                self.name = nickname
                self.race = race 
                self.hp = 100
                self.mp = 100
                
            def rest(self):
                self.hp = 100
                self.mp = 100
                
        class Magician(Character):
        '''
        Subclass Magician
        '''
            def __init__(self, nickname, race):
                super().__init__(nickname, race) # super클래스의 __init__ 메소드를 사용
                self.hp = 70
                self.mp = 500
                
            def magic(self):
                self.mp -= 50
                # 무언가를 막 한다
                
            # 부모 클래스의 메소드를 덮어쓰기! -> overriding
            def rest(self):
                self.hp = 70
                self.mp = 500
        ```
        * 부모 클래스의 메소드를 덮어쓰기한다는 건 고급지게 표현해서 overriding이라고 합니다 
        * 부모 클래스의 메소드를 실행할 때에는 super 를 씁니다

In [15]:
val = ['John', '10000', 'Jenny', '2000', '5000']
for i in range(len(val)):
    if val[i].isdigit():
        val[i] = int(val[i])
        
val

['John', 10000, 'Jenny', 2000, 5000]

In [16]:
val[1], type(val[1])

(10000, int)

In [2]:
a = 3
print(type(a))

<class 'int'>

In [7]:
class Character:
    def __init__(self, nickname, occupation, race):
        self.name = nickname
        self.occupation = occupation
        self.race = race

In [9]:
my_char = Character('sumin', 'villan', 'human')

In [10]:
my_char.name

'sumin'

In [11]:
my_char.occupation

'villan'

In [12]:
my_char.race

'human'

In [ ]:
my_char.rest() # -> self.method_name()
#my_char.rest(100, 2000) # -> self.method_name(100, 2000)

# 다시 Pandas

In [17]:
import numpy as np 
import pandas as pd

In [18]:
df = pd.DataFrame(np.random.randn(6, 4))
df.columns = list('abcd')
df.index = pd.date_range('20220502', periods=6)
df

                   a         b         c         d
2022-05-02 -0.707099 -0.228614  0.183418 -0.235932
2022-05-03 -0.504148 -0.417704 -0.245713  0.710493
2022-05-04  1.510499  0.290684 -1.563680  1.379245
2022-05-05  0.122121 -0.632444  0.003800  0.376123
2022-05-06  0.044686 -1.445079 -1.184617 -1.437378
2022-05-07  0.263694 -0.967745 -0.474843  0.763088

In [19]:
# fancy indexing
df.loc['2022-05-02':'2022-05-05', ['a', 'c']]

                   a         c
2022-05-02 -0.707099  0.183418
2022-05-03 -0.504148 -0.245713
2022-05-04  1.510499 -1.563680
2022-05-05  0.122121  0.003800

In [20]:
df.loc[(df['a'] < 0) & (df['c'] > 0), :]

                   a         b         c         d
2022-05-02 -0.707099 -0.228614  0.183418 -0.235932

In [21]:
df.loc[(df['a'] < 0) & (df['c'] > 0), 'c':]

                   c         d
2022-05-02  0.183418 -0.235932

In [27]:
df[(df['a'] > 0) & (df['c'] < 0)][['a', 'c']]

                   a         c
2022-05-04  1.510499 -1.563680
2022-05-06  0.044686 -1.184617
2022-05-07  0.263694 -0.474843

In [28]:
df.loc[df['a'] != df['b']]

                   a         b         c         d
2022-05-02 -0.707099 -0.228614  0.183418 -0.235932
2022-05-03 -0.504148 -0.417704 -0.245713  0.710493
2022-05-04  1.510499  0.290684 -1.563680  1.379245
2022-05-05  0.122121 -0.632444  0.003800  0.376123
2022-05-06  0.044686 -1.445079 -1.184617 -1.437378
2022-05-07  0.263694 -0.967745 -0.474843  0.763088

In [29]:
df.loc[df['a'] == df['b']]

Empty DataFrame
Columns: [a, b, c, d]
Index: []

In [30]:
df.loc[df['a'] < 0, 'a'] = 0
df

                   a         b         c         d
2022-05-02  0.000000 -0.228614  0.183418 -0.235932
2022-05-03  0.000000 -0.417704 -0.245713  0.710493
2022-05-04  1.510499  0.290684 -1.563680  1.379245
2022-05-05  0.122121 -0.632444  0.003800  0.376123
2022-05-06  0.044686 -1.445079 -1.184617 -1.437378
2022-05-07  0.263694 -0.967745 -0.474843  0.763088

In [31]:
df.loc[df['b'] < 0, 'd'] = 0
df

                   a         b         c         d
2022-05-02  0.000000 -0.228614  0.183418  0.000000
2022-05-03  0.000000 -0.417704 -0.245713  0.000000
2022-05-04  1.510499  0.290684 -1.563680  1.379245
2022-05-05  0.122121 -0.632444  0.003800  0.000000
2022-05-06  0.044686 -1.445079 -1.184617  0.000000
2022-05-07  0.263694 -0.967745 -0.474843  0.000000

In [32]:
# missing data, 결측치
df['h'] = [1, np.nan, 2, np.nan, 3, np.nan]
df

                   a         b         c         d    h
2022-05-02  0.000000 -0.228614  0.183418  0.000000  1.0
2022-05-03  0.000000 -0.417704 -0.245713  0.000000  NaN
2022-05-04  1.510499  0.290684 -1.563680  1.379245  2.0
2022-05-05  0.122121 -0.632444  0.003800  0.000000  NaN
2022-05-06  0.044686 -1.445079 -1.184617  0.000000  3.0
2022-05-07  0.263694 -0.967745 -0.474843  0.000000  NaN

In [33]:
df['e'] = df['c'] + df['h']
df

                   a         b         c         d    h         e
2022-05-02  0.000000 -0.228614  0.183418  0.000000  1.0  1.183418
2022-05-03  0.000000 -0.417704 -0.245713  0.000000  NaN       NaN
2022-05-04  1.510499  0.290684 -1.563680  1.379245  2.0  0.436320
2022-05-05  0.122121 -0.632444  0.003800  0.000000  NaN       NaN
2022-05-06  0.044686 -1.445079 -1.184617  0.000000  3.0  1.815383
2022-05-07  0.263694 -0.967745 -0.474843  0.000000  NaN       NaN

In [37]:
df.dropna(how='any')

                   a         b         c         d    h         e
2022-05-02  0.000000 -0.228614  0.183418  0.000000  1.0  1.183418
2022-05-04  1.510499  0.290684 -1.563680  1.379245  2.0  0.436320
2022-05-06  0.044686 -1.445079 -1.184617  0.000000  3.0  1.815383

In [39]:
df

                   a         b         c         d    h         e
2022-05-02  0.000000 -0.228614  0.183418  0.000000  1.0  1.183418
2022-05-03  0.000000 -0.417704 -0.245713  0.000000  NaN       NaN
2022-05-04  1.510499  0.290684 -1.563680  1.379245  2.0  0.436320
2022-05-05  0.122121 -0.632444  0.003800  0.000000  NaN       NaN
2022-05-06  0.044686 -1.445079 -1.184617  0.000000  3.0  1.815383
2022-05-07  0.263694 -0.967745 -0.474843  0.000000  NaN       NaN

In [43]:
filled_df = df.fillna('na')
filled_df

                   a         b         c         d   h        e
2022-05-02  0.000000 -0.228614  0.183418  0.000000   1  1.18342
2022-05-03  0.000000 -0.417704 -0.245713  0.000000  na       na
2022-05-04  1.510499  0.290684 -1.563680  1.379245   2  0.43632
2022-05-05  0.122121 -0.632444  0.003800  0.000000  na       na
2022-05-06  0.044686 -1.445079 -1.184617  0.000000   3  1.81538
2022-05-07  0.263694 -0.967745 -0.474843  0.000000  na       na

In [45]:
filled_df.loc['2022-05-03', 'h']

'na'

In [46]:
type(filled_df.loc['2022-05-03', 'h'])

str

In [47]:
df.loc['2022-05-03', 'h']

nan

In [48]:
type(df.loc['2022-05-03', 'h'])

numpy.float64

In [49]:
np.nan == None

False

In [52]:
a = np.nan
b = np.nan
a == b

False

In [56]:
help(df.isnull)

Help on method isnull in module pandas.core.frame:

isnull() -> 'DataFrame' method of pandas.core.frame.DataFrame instance
    Detect missing values.

    Return a boolean same-sized object indicating if the values are NA.
    NA values, such as None or :attr:`numpy.NaN`, gets mapped to True
    values.
    Everything else gets mapped to False values. Characters such as empty
    strings ``''`` or :attr:`numpy.inf` are not considered NA values
    (unless you set ``pandas.options.mode.use_inf_as_na = True``).

    Returns
    -------
    DataFrame
        Mask of bool values for each element in DataFrame that
        indicates whether an element is not an NA value.

    See Also
    --------
    DataFrame.isnull : Alias of isna.
    DataFrame.notna : Boolean inverse of isna.
    DataFrame.dropna : Omit axes labels with missing values.
    isna : Top-level isna.

    Examples
    --------
    Show which entries in a DataFrame are NA.

    >>> df = pd.DataFrame({'age': [5, 6, np.NaN],
    ...                    'born': [pd.NaT, pd.Timestamp('1939-05-27'),
    ...                             pd.Timestamp('1940-04-25')],
    ...                    'name': ['Alfred', 'Batman', ''],
    ...                    'toy': [None, 'Batmobile', 'Joker']})
    >>> df
       age       born    name        toy
    0  5.0        NaT  Alfred       None
    1  6.0 1939-05-27  Batman  Batmobile
    2  NaN 1940-04-25              Joker

    >>> df.isna()
         age   born   name    toy
    0  False   True  False   True
    1  False  False  False  False
    2   True  False  False  False

    Show which entries in a Series are NA.

    >>> ser = pd.Series([5, 6, np.NaN])
    >>> ser
    0    5.0
    1    6.0
    2    NaN
    dtype: float64

    >>> ser.isna()
    0    False
    1    False
    2     True
    dtype: bool